<h1><%= @restaurant.name %></h1>
<div>
  <ul>
    <li>Category : <%= @restaurant.category %><</li>
    <li>Address : <%= @restaurant.address %><</li>
    <li>Phone Number : <%= @restaurant.phone_number %><</li>
  </ul>
</div>
